header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    text-align: center;
}

button {
    display: block;
    justify-content: center;
    width: 100px;
    background-color: blueviolet;
    color: white;
    margin: 0 auto;

}

li {
    list-style-type: none;
    margin-top: 5px;
}

ul {
    width: 500px;
    margin: 0 auto;
}

.quiz-question button {
    width: 200px;
    height: 30px;
    margin: 0;

}

.answer-status {
    border-top: solid gray 2px;
    text-align: left;
    margin-top: 10px;
}

.score-list li {
    display: flex;
    justify-content: center;
}
.score-list li div {
    width: 150px;
    text-align: center;
}

.score-buttons {
    display: inline-flex;
    justify-content: center;
}

.score-buttons button {
    margin: 0 10px;
}

.answer-status {
    color: rgba(78, 76, 76, 0.7);
}